* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
main {
  width: 100dvw;
  height: 100dvh;
  direction: rtl;
  color-scheme: dark light;
}

main {
  /* background-color: #dfe9e2; */
  overflow: auto;
  padding: 5px;
}

.box {
  width: 90%;
  height: auto;
  /* background-color: #dbc7d5; */
  text-wrap: balance;
  margin: 2px auto 15px auto;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 5px gray;
}

b {
  font-size: 30px;
}

.dig {
  text-align: center;
  min-width: 20px;
  display: inline-block;
}

.wd {
  text-align: center;
  display: inline-block;
}

.events {
  display: inline-block;
  background-color: default;
  text-align: center;
}

.row {
  display: grid;
  grid-template-columns: 20px 60px 1fr;
  border-radius: 5px;
  &:nth-of-type(even) {
    background: #eeefc7;
    color: #000;
  }
  & > * {
    place-content: center;
  }
}

hr {
  width: 80%;
  height: 2px;
  margin: auto;
  background-color:  red;
  margin-bottom: 15px;
  border-radius: 5px;
}