* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100dvw;
  height: 100dvh;
}

body {
  overflow: auto;
}

h1 {
  width: 90%;
  min-height: 100px;
  font-size: 40px;
  margin: auto;
  color: red;
}
